* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  position: relative;
  background: #cecece;
  padding-top: 5%;
}

.wrap-slider {
  display: flex;
  justify-content: center;
}

.slider-item {
  padding: 5px;
  width: 750px;
}

.slider-item img {
  display: block;
  width: 100%;
  height: auto;
}



.prev {
  width: 20px;
  height: 15px;
  background: red;
  position: absolute;
  left: 0;
  top: 40%;
}

.next {
  width: 20px;
  height: 15px;
  background: red;
  position: absolute;
  top: 40%;
  right: 0;
}


.slider-dots {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.dot {
  width: 16px;
  height: 16px;
  background: #0c0c0c;
  border-radius: 10em;
  margin: 0 7px;
  cursor: pointer;
  transition: all ease .5s;
}

.dot-active,
.dot:hover {
  background: #df0000;
}